/* 共通スタイル */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
  }
  
  header .logo {
    max-width: 50%;
    height: auto;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 1em;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: #00a0e9;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #007bbf;
    color: #fff;
  }
  
  nav ul li a.active {
    background-color: #eb6da5;
    color: #fff;
  }
  
  main {
    padding: 2rem;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  h2 {
    color: #00a0e9;
    border-bottom: 2px solid #eb6da5;
    padding-bottom: 0.5rem;
  }
  
  label {
    display: block;
    margin-top: 1rem;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 98%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #eb6da5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #d75488;
  }

  /* pタグのマージンを特定のクラスに対して設定 */
  .p-no-margin {
    margin-top: 0;
  }
  
  /* トップ画像のスタイル */
  .slideshow-container {
    overflow: hidden;
    position: relative;
    width: 900px; /* 固定の幅を設定 */
    height: 500px; /* 固定の高さを設定 */
    margin: 0 auto; /* コンテナを中央に配置 */
  }
  
  .slides {
    width: 100%;
    height: 100%; /* コンテナに合わせた高さ */
    object-fit: cover; /* 画像がコンテナに収まるように調整 */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1.5s ease;
  }
  
  .slides.active {
    opacity: 1;
  }
  
  #map {
    width: 100%;
    height: 400px;
    margin-top: 1rem;
    text-align: center;
  }
  
  #map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 5px;
    border: 2px solid #eb6da5;
  }
  
  /* モバイルスタイル */
  @media (max-width: 768px) {
    nav ul li {
      display: block;
      margin: 1em 0;
    }
  
    .slideshow-container {
      width: 100%; /* モバイルでの幅を100%に設定 */
      height: auto; /* 高さをautoから設定しない */
      aspect-ratio: 18 / 10; /* 16:9のアスペクト比にする */
    }
  
    .slides {
      width: 100%; /* 幅を100%に設定 */
      height: auto; /* 高さも幅に比例して調整 */
      object-fit: cover; /* モバイル用に画像をトリミング */
    }
  
    main {
      padding: 1rem;
      width: 90%;
    }
  
    input[type="text"], input[type="email"], textarea {
      width: 92%;
    }
  }
  
  /* 一番上へスクロールボタン */
  #scrollToTopBtn {
    display: none; /* 初期状態では非表示 */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #00a0e9;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: opacity 0.5s, background-color 0.3s; /* アニメーション追加 */
    opacity: 0; /* 初期状態で透明 */
  }
  
  #scrollToTopBtn.show {
    display: block;
    opacity: 1; /* 表示時に不透明に */
  }
  
  #scrollToTopBtn:hover {
    background-color: #007bbf;
  }
  .youtube {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  .youtube iframe {
    width: 100%;
    height: 100%;
  }